# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# macOS / Windows
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python tooling
*.egg-info/
dist/
build/

# Outputs
channel_transcripts/
out/
*.csv
config.json
full_merges/
